body{
    margin: auto;
    width: 1200px;
    font-family: Helvetica, sans-serif;
    background: #ccc;
}

img{
	display: block;
}

.principal{
    background-image: url(Imagens/bg-1.jpg);
    background-position: right center;
    background-size: cover;
    height: 500px;
}

.menu ul{
    text-align:right;
    padding: 20px 50px 0 0;
}

.menu li{
    display: inline-block;
    margin-left: 13px;
}

.menu a{
    display: block;
    padding: 12px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    letter-spacing: 1.1px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.4s ease-in-out;
}

.menu a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.principal-content{
    text-align: center;
    margin-top: 100px;
    color: white;
}

.principal-content h1{
    font-size: 42px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}

.principal-content a{
    margin-top: 100px;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.6);
    border-bottom: 3px solid #fff;
    padding: 20px;
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.principal-content a:hover{
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.conteudo{
    display: block;
    background-color: white;
    overflow: auto;
    padding: 15px;
    margin: 15px auto;
    width: 80%;
}

.centralizar{
    display: block;
    text-align: center;
}

.card{
    display: inline-block;
    background: #fff;
    padding: 5px; 
    margin: auto;
}

.card figcaption{    
    text-align: left;
    background-color: rgb(78, 78, 78);
    color: white;
    line-height: 50px;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.conteudo h1{
    margin: 0;
    padding: 15px;
    background: rgb(221, 221, 221);
    border-bottom: 2px solid #333;
}

.rodape{
    background: grey;
    line-height: 80px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}